	body,
	html {
		margin: 0em;
		padding: 0em;
		height: 100%;
		width: 100%;
		font-size: 5em;
		overflow: hidden;
	}

	div {
		font-size: 1em;
		font-weight: bolder;
		color: #333;
	}

	.Mnu_img,
	.Lng_img {
		position: absolute;
		top: 0.7em;
		right: 0.5em;
		width: 1.6em;
		height: 1.6em;
		border-radius: 50%;
		cursor: pointer;
	}

	.Mnu_img {
		left: 0.5em;
	}

	.Mnu_img:hover,
	.Search_img:hover,
	.Lng_img:hover {
		background: gold;
	}

	#Lng_menu {
		position: absolute;
		background-color: #333;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		display: none;
	}

	.Lng_main {
		list-style-type: none;
		cursor: pointer;
		/*width:70%;*/
		margin: 15% 15% calc(15% - 5px) 15%;
		background: #eee;
		padding: 5px;
		box-shadow: -0px -0px 5px 5px #EEEEEE;
	}

	.Lng_main div {
		margin-top: 0.6em;
		margin-bottom: 0.6em;
		margin-left: 1em;
		font-size: 1.1em;
		background-color: #eee;
		/*padding:-5px;*/
		/*color:#eee;*/
	}

	.Lng_close {
		position: absolute;
		top: 0.5em;
		right: 0.5em;
		border-radius: 50%;
		background-color: #111;
		width: 1.5em;
		height: 1.5em;
		font-size: 1em;
		line-height: 1.5em;
		text-align: center;
		color: #eee;
		cursor: pointer;
	}

	.Lng_main div:hover {
		color: darkred;
	}

	.Lng_close:hover {
		color: #111;
		background-color: #eee;
	}

	.App_Tools,
	.App_Title {
		background: linear-gradient(0.25turn, #8C3590, #2C4982);
		height: 2em;
		font-size: 1.6em;
		line-height: 2em;
		text-align: left;
		width: 100%;
		display: inline-block;
	}

	.App_Title div {
		float: right;
	}

	#Search_img {
		margin-top: 0.9em;
		margin-right: 2.5em;
		height: 2em;
		width: 2em;
		border-radius: 50%;
		cursor: pointer;
	}

	#Search_Btn {
		font-size: 0.5em;
		width: 5em;
		text-align: center;
		color: #eee;
	}

	#Search_txt {
		outline: 0px;
		border: 1px solid #EEEEEE;
		border-radius: 5px;
		width: calc(100% - 2em);
		height: 1.6em;
	}

	.Search {
		text-align: center;
		height: 2em;
		line-height: 1.6em;
		width: calc(100% - 4.5em);
	}

	.App_Main {
		height: calc(100% - 4.5em);
		width: 100%;
		/*overflow-y: auto;*/
	}

	.App_Tools {
		padding-top: 0.2em;
		height: 2.3em;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		display: inline-flex;
		text-align: center;
	}

	.App_Tools_Btn {
		width: 25%;
		text-align: center;
		cursor: pointer;
		display: block;
	}

	.App_Tools_Default {
		text-align: center;
		font-size: 0.5em;
		font-weight: normal;
		display: block;
		height: 1.5em;
		line-height: 1em;
		overflow: hidden;
		margin-top: -1.5em;
		color: #5d0e86;
	}

	.App_Tools_Sel {
		color: linen;
	}

	.App_Tools_img {
		width: 1.2em;
		height: 1.2em;
		display: table-cell;
		margin-top: -0.5em;
	}

	.ThisApp_List,
	.ThisApp_Menu {
		display: block;
		position: absolute;
		width: 70%;
		height: 100%;
		top: 0px;
		left: 0px;
		border: 0px;
		border-right: 1px;
		/*box-shadow: h-shadow v-shadow blur spread color inset;*/
		background-color: #eee;
		opacity: 0.8;
		z-index: 999;
	}

	.ThisApp_List {
		box-shadow: 0px 0px 10px 0px #EEEEEE;
	}

	.ThisApp_Menu {
		width: 100%;
		background-color: #333;
		display: none;
	}

	.ThisApp_Menu_Title {
		margin: 1em;
		color: #5d0e86;
	}

	.ThisApp_Menu_Line {
		height: 2px;
		border-bottom: 1px solid #5D0E86;
		box-shadow: 5px 0px 0px 0px #EEEEEE;
		margin-left: 1em;
		width: calc(100% - 2em);
	}

	.ThisApp_Menu_Item {
		margin: 1em;
		margin-left: 1.5em;
		font-size: 0.9em;
		font-weight: bold;
		color: #5d0e86;
		cursor: pointer;
	}

	.ThisApp_Menu_Item:hover {
		background-color: #2C4982;
		color: #eee;
	}

	.App_Document_Title {
		display: none;
	}

	#App_Loading_div {
		position: absolute;
		left: 0em;
		top: 0em;
		width: 100%;
		height: 100%;
		background-color: #333;
		display: none;
		opacity: 0.9;
		z-index: 999;
		text-align: center;
		vertical-align: middle;
		line-height: 100%;
		color: #f9ba5b;
	}

	#App_Loading_div img {
		width: 5em;
		height: 5em;
		vertical-align: middle;
		margin-top: calc(50% - 2em);
		list-style-type: none;
	}



	/**无限旋转开始*/

	@keyframes myfirst2 {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(359deg);
		}
	}

	@keyframes myfirst {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(-359deg);
		}
	}

	.rotate {
		animation: myfirst2 15s infinite linear;
		/*开始动画后无限循环，用来控制rotate*/
	}
	/**无限旋转结束*/

	@media only screen and (min-width: 100px) and (max-width: 1366px) {}